body {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

/* Navbar */

.navbar {
    background-color: darkgrey;
    padding: 20px;
    
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    
    position: sticky;
    top: 0; 
}

/* Add Post Button */

.add-post {
    background-color: rgba(73, 253, 91, 0.8);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1rem;
    font-size: 16px;
    text-align: center;
    margin: 0 2rem;
    cursor: pointer;
    border-radius: 1rem;
}
